@page "/stuff"

<PageTitle>Stuff</PageTitle>
<h1>Stuff</h1>

<p role="status">Current number: @currentNumber</p>

<button class="btn alert-primary" @onclick="Vladus">Generate Random Number</button>

@code {
    private int currentNumber = 0;
    private Random rnd = new Random();

    private void Vladus()
    {
        System.Diagnostics.Debug.WriteLine("Interesant");

        currentNumber = rnd.Next(1, 100);
        
    }
}
